.wrapper {
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-left: 18px;
    .button {
        background-color: var(--yellow);
        border-radius: 20px;
        border: none;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 1.6rem;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #051D33;
        padding: 8px 10px;
        width: 175px;
        margin-right: 8px;
        line-height: 100%;
    }
}