.badge {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transform: rotate(-45deg);
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
    background: var(--yellow-yellow);
    width: 78px;
    height: 18px;
    font-weight: 600;
    text-transform: uppercase;
}