.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1043px;
        padding: 0 10px;
        .title {
            color: var(--dark-blue);
            font-size: 4.2rem;
        }
        .description {
            display: flex;
            text-align: center;
            font-size: 2rem;
            line-height: 2.8rem;
            color:#1E0D38;
        }
    }
    .all-cards {
        display: flex;
        justify-content: center;
        width: 1432px;
        flex-wrap: wrap;
        margin-bottom: 30px;
        gap: 15px;
        margin-top: 28px;
    }

    .bonusType {
        display: flex;
        width: 732px;
        justify-content: space-between;
        margin: 28px 0;
    }

    .slider-wrapper {
        padding: 0;
    }

}
